/* 네비게이션 */

#navigation_wrapper {
    position: absolute;
    top: 100px;
    right: 30px;
    width: 120px;
    height: 1120px;
}

        #navigation_wrapper > * {
            height: 100%;
        }

        #navigation_wrapper img {
            display: block;
            width: 80px;
            margin: 0 auto;
        }

        #navigation {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgb(0, 0, 0, 0.5);
            width: 120px;
        }

                #navigation .current_pos {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 80px;
                    height: 100%;
                    overflow: hidden;
                    clip : rect(0px, 80px, 116px, 0);
                }

                        #navigation .current_pos img {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }