#edit_area {
    width: calc(100% - 350px);
}

        #edit {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 75%;
        }

                #canvas_edit {
                    position: absolute;
                    left: calc(50% + 510px);
                    bottom: calc(50% - 300px);
                    color : #77767c;
                }

                /* 비디오 재생 막대 */

                #video_playbar {
                    width: 1000px;
                    padding: 0 20px;
                    box-sizing: border-box;
                    height: 30px;
                    background-color: #07a5ff;
                    position: absolute;
                    top: calc(50% + 300px);
                    left: calc(50% - 500px);
                    display: flex;
                    align-items: center;
                }

                        #video_playbar .icons {
                            display: flex;
                            justify-content: space-between;
                            width: 80px;
                            margin-right: 20px;
                        }

                                #video_playbar .icons > .play_icon {
                                    cursor : pointer;
                                }

                        #video_playbar input {
                            width: 800px;
                        }

                        #video_playbar .playing_time {
                            text-align: center;
                            width: 100px;
                        }
                        
        /* 타임라인 */

        #timeline_wrapper {
            background-color: rgba(0, 0, 0, 0.2);
            height: 25%;
            overflow-x: auto;
        }

                #timeline {
                    display: flex;
                    width: 3000px;
                    height: 100%;
                }

                        #timeline > * {
                            height: 100%;
                        }

                        #timeline .property {
                            width: 100px;
                        }

                                .property .props_item {
                                    height: calc(100% / 3);
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 18px;
                                    color : #145f80;
                                    font-weight: bold;
                                }

                        #timeline .execute {
                            position: relative;
                            width: calc(100% - 100px);
                        }

                                .execute .execute_item {
                                    display: flex;
                                    align-items: center;
                                    height: calc(100% / 3);
                                    padding-left: 12.5px;
                                    box-sizing: border-box;
                                }

                                        /* 타임라인 프레임 */

                                        .frame {
                    
                                        }

                                            .frame .number {
                                                position: relative;
                                                left: -13px;
                                                box-sizing: border-box;
                                                height: 10px;
                                                font-size: 12px;
                                                margin-bottom: 5px;
                                            }

                                            .frame .bar {
                                                display: flex;
                                                align-items: flex-start;
                                                height: 25px;
                                            }

                                                    .frame .bar > div {
                                                        width: 1px;
                                                        background-color: #000;
                                                        margin-right: 5px;
                                                    }

                                                    .frame .bar .long {
                                                        height: 100%;
                                                    }

                                                    .frame .bar .short {
                                                        height: 50%;
                                                    }

                                        .item_plus {
                                            width: 50px;
                                            height: 100px;
                                            border-radius: 10px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            color : #145f80;
                                            border : 1px solid #145f80;
                                            cursor : pointer;
                                        }

                                /* 타임라인 재생막대 */

                                .execute .execute_bar {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 20px;
                                    height: 100%;
                                }

                                        .execute .execute_bar > * {
                                            background-color: cornflowerblue;
                                        }

                                        .execute_bar .execute_circle {
                                            height: 20px;
                                            border-radius: 50%;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                        }
                                                .execute_circle span {
                                                    width: 10px;
                                                    height: 10px;
                                                    background-color: darkblue;
                                                }

                                        .execute_bar .execute_rect {
                                            width: 5px;
                                            height: calc(100% - 20px);
                                            margin: 0 auto;
                                        }