@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");
@import url("header.css");
@import url("modal.css");
@import url("sidemenu.css");
@import url("implementbar.css");
@import url("edit.css");

/* 공통효과 */

.off {
    display: none !important;
}

/* 레이아웃 */

.body_container {
    width: 100vw;
    height: 100vh;
}

        #main {
            display: flex;
            height: calc(100vh - 100px);
        }

                #main > * {
                    height: 100%;
                }
