/* 편집화면 */

#edit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    width: calc(100% - 350px);
}

        /* 웹툰 편집페이지 */

        #canvas_wrapper {
            width: 711px;
            height: 1000px;
            overflow-x: auto;
            overflow-y : auto;
        }

                /* 캔버스 */

                canvas {
                    background-color: #fff;
                    margin-bottom: 20px;
                }

                canvas:last-child {
                    margin-bottom: 0;
                }

                #canvas_edit {
                    position: absolute;
                    left: calc(50% + 365.5px);
                    bottom: calc(50% - 500px);
                    color : #77767c;
                }

                        #canvas_edit > div {
                            width: 20px;
                            height: 20px;
                            font-size: 20px;
                            cursor : pointer;
                            margin-bottom: 10px;
                        }

                        #canvas_edit > div:last-child {
                            margin-bottom: 0;
                        }

                /* 투명도 */
                
                #opacity {
                    position: absolute;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 260px;
                    height: 20px;
                    top: 40px;
                    right: 30px;
                    font-size: 16px;
                }