/* 헤더 */

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 25px 100px;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

        header > div {
            height: 100%;
        }

        #header_menu {
            display: flex;
        }

                #header_menu .menu {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    width: 50px;
                    cursor : pointer;
                }

        #upload_menu {

        }

                #upload_menu input[type=file] {
                    display: none;
                }

                #upload_menu label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color : #fff;
                    font-size: 15px;
                    width: 130px;
                    height: 100%;
                    background-color: #77767c;
                    cursor : pointer;
                }