/* 메뉴 효과 적용 */

#implement_bar {
    position: relative;
    width: 250px;
    box-shadow :1px 5px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

        #implement_bar .menu_name {
            display: flex;
            align-items: center;
            padding-left: 25px;
            box-sizing: border-box;
            height: 50px;
            font-size: 20px;
            color : #fff;
            background-color: royalblue;
        }

        #implement_bar .implement {
            height: calc(100% - 50px);
            overflow-y: auto;
            padding: 20px 10px 0;
            box-sizing: border-box;
        }  

        #image_list.implement {
            width: 100%;
            position: absolute;
            top: 50px;
        }

                /* 이미지 */

                .cartoon {
                    height: 150px;
                    margin-bottom: 20px;
                }

                .cartoon .number {
                    color :rgba(0, 0, 0, 0.2);
                    font-weight: bold;
                    height: 30px;
                }

                .cartoon .image {
                    height: calc(100% - 30px);
                }

                        .cartoon .image img {
                            width: 100%;
                            height: 100%;
                        }

                /* 밝기 */

                .item {
                    height: 50px;
                    margin-bottom: 20px;
                }

                        .item .status {
                            display: flex;
                            justify-content: space-between;
                            font-size: 16px;
                            margin-bottom: 20px;
                        }

                                .item .status .item_value {
                                    color :rgba(0, 0, 0, 0.5);
                                }

                        .item input {
                            display: block;
                            width: 100%;
                        }

                .btn_wrapper {
                    display: flex;
                    justify-content: space-between;
                }

                        .btn_wrapper .btn {
                            width: 45%;
                            height: 35px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color : #77767c;
                            font-size: 16px;
                            border-radius: 10px;
                            background-color: #e2e2e2;
                            cursor : pointer;
                        }

                /* 채도 */

                /* 흐림 */

                .blur_box {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 25px;
                }

                        .blur_box .blur_effect {
                            width: 70px;
                            height: 90px;
                            margin-right: 10px;
                        }

                        .blur_box .blur_effect:nth-child(3n) {
                            margin-right: 0;
                        }

                                .blur_box .blur_effect .image {
                                    height: 70px;
                                }

                                        .blur_effect .image img {
                                            width: 100%;
                                            height: 100%;
                                        }

                                .blur_box .blur_effect .name {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    height: calc(100% - 70px);
                                    font-size: 12px;
                                }

                /* 회색조 */

                /* 이동 */

                .edit_item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 10px 30px;
                    box-sizing: border-box;
                    cursor : pointer;
                }

                .edit_item:hover {
                    color: #006eff;
                }

                        .edit_item > span.small {
                                font-size: 20px;
                        }

                        .edit_icon {
                            font-size: 28px;
                        }

                        .edit_name {
                            font-size: 28px;
                        }

                /* 페이지 설정 */

                .set_item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    font-size: 18px;
                    color :#78767b;
                }

                        .set_item .props {
                            margin-right: 10px;
                        }

                        .set_item input {
                            width: 30%;
                            height: 30px;
                            outline : none;
                            border: none;
                            background-color:#f3eae8;
                            padding-left: 10px;
                            box-sizing: border-box;
                        }

                        .set_item input.readonly {
                            background-color: #e2e2e2;
                        }
