/* 모달창 */

.modal_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

        .modal {
            width: 700px;
            height: 480px;
            background: white;
        }

                .modal_title {
                    height: 50px;
                    padding: 0 30px;
                    box-sizing: border-box;
                    font-size: 18px;
                    color : #fff;
                    background-color: #08a0ff;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                        .close_btn {
                            cursor : pointer;
                        }

                .content {
                    position: relative;
                    padding: 40px 20px 10px;
                    box-sizing: border-box;
                    height: calc(100% - 50px);
                }

                        .modal_item {
                            display: flex;
                            align-items: center;
                            height: 50px;
                            margin-bottom: 10px;
                            
                        }

                                .modal_item .props {
                                    text-align: right;
                                    width: 20%;
                                    margin-right: 10px;
                                    font-size: 17px;
                                }

                                .modal_item input, .modal_item select {
                                    border : none;
                                    outline: none;
                                    width: calc(70% - 10px);
                                    height: 45px;
                                    font-size: 20px;
                                    background-color: #e2e2e2;
                                    border-radius: 4px;
                                    box-sizing: border-box;
                                    padding-left: 10px;
                                    margin-right: 2%;
                                }

                                .modal_item input[type=file] {
                                    display: none;
                                }

                                .modal_item label {
                                    width: 8%;
                                    height: 45px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: #e2e2e2;
                                    cursor : pointer;
                                }

                        .modal_btn {
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 20px;
                            display: flex;
                            justify-content: center;
                        }

                                .modal_btn .btn {
                                    width: 110px;
                                    height: 35px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color : #fff;
                                    margin-right: 20px;
                                    cursor : pointer;
                                    border-radius: 5px;
                                }

                                .modal_btn .btn.complete {
                                    text-decoration: none;
                                    background-color: #142484;
                                }

                                .modal_btn .btn.cancel {
                                    color : #000;
                                    background-color: #e2e2e2;
                                }