/* 사이드 메뉴 */

#side_menu {
    width: 100px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 30px 15px;
    box-sizing: border-box;
}

        #side_menu .menu {
            height: 80px;
            margin-bottom: 25px;
            cursor : pointer;
        }

        #side_menu .menu.active {
            color :#9fa2e9;
        }

                #side_menu .menu > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                #side_menu .menu .icon {
                    height: 50px;
                    font-size: 40px;
                }

                #side_menu .menu .name {
                    height: calc(100% - 50px);
                }